.background {
    background-color: #F8CBA6;
    background-size: 180% 180%;
  }

  .navbar a:hover {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffd1d1cc;
    color: rgb(209, 119, 119);
  }

  
  @keyframes cat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #cat {
    animation: cat 2s ease-in-out infinite;
  }


body {
    background-color: #fcfbf6;
}

#header2 {
  transform: rotate(180deg);
}

#hobbies {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/; 
  font-size: 45px;
  color: #8a706e;
  margin-top: 4px;
}

#cards {
  border-bottom-width: 9px;
  border-top-width: 2px;
  border-left-width: 2.2px;
  border-right-width: 2.2px;
  border-color: #8a706e;
  border-radius: 12px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

#buttons {
  border-color: #8a706e;
  border-width: 2px;
  background-color: #f3eed9;
  color:#8a706e;
  font-weight: bold;
  border-radius: 8px;
}

#buttons:hover {
  background-color: #8a706e;
  color: #f5ead4;
  border-bottom-width: 6px;
  border-color: #ffcdb5;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#crl {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  font-size: 85px;
}

#about1 {
  font-family: 'Raleway', sans-serif;
}

#about {
  font-size: 45px;
  color: #585453;
}

#jumbotron {
  color: #8a706e;
}